<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1F4C7EEB-7BAA-484E-9B44-F570172A7C26</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E99C59D5-C29C-43DB-BBEF-64232C2B7BD7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3DCFE25F-0397-4621-9A4C-F581010F9ED9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7F287C4-094C-4029-93E7-90228EDB11DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A7F287C4-094C-4029-93E7-90228EDB11DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5FD4A95E-C4F8-46A6-8FF6-BEC276C51E15</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0D93798F-3A8F-4D30-B1C7-CC7C3914A956</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C55DC51A-8CD0-455C-83C9-56028B65533E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E68684B6-8092-4085-B6A4-EF21A7C7655B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E68684B6-8092-4085-B6A4-EF21A7C7655B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F4C7EEB-7BAA-484E-9B44-F570172A7C26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Take a snapshot and copy text in clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>OCR</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E99C59D5-C29C-43DB-BBEF-64232C2B7BD7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>oc</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Recognise Text from Clipboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C55DC51A-8CD0-455C-83C9-56028B65533E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard:0}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>query</key>
					<string>{clipboard:0}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E68684B6-8092-4085-B6A4-EF21A7C7655B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>img: </string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>1F4C7EEB-7BAA-484E-9B44-F570172A7C26</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>export PATH=/usr/local/bin/:$PATH

screencapture -i /tmp/ocr_snapshot.png

if [{query} = ""]; then
tesseract --dpi 300 /tmp/ocr_snapshot.png  stdout 2&gt;&amp;1
else
tesseract --dpi 300 /tmp/ocr_snapshot.png stdout  -l {query} 2&gt;&amp;1
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A7F287C4-094C-4029-93E7-90228EDB11DB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>5FD4A95E-C4F8-46A6-8FF6-BEC276C51E15</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ocr</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Take Snapshot and Recognize</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3DCFE25F-0397-4621-9A4C-F581010F9ED9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>OCR Complete!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0D93798F-3A8F-4D30-B1C7-CC7C3914A956</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0D93798F-3A8F-4D30-B1C7-CC7C3914A956</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>1F4C7EEB-7BAA-484E-9B44-F570172A7C26</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>3DCFE25F-0397-4621-9A4C-F581010F9ED9</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>5FD4A95E-C4F8-46A6-8FF6-BEC276C51E15</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>A7F287C4-094C-4029-93E7-90228EDB11DB</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>C55DC51A-8CD0-455C-83C9-56028B65533E</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>E68684B6-8092-4085-B6A4-EF21A7C7655B</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>E99C59D5-C29C-43DB-BBEF-64232C2B7BD7</key>
		<dict>
			<key>xpos</key>
			<integer>445</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/nicooprat/alfred-ocr/</string>
</dict>
</plist>
